{
	"swagger": "2.0",
	"info": {
		"description": "Events Example",
		"version": "2015-05-01",
		"title": "Events Example"
	},
	"host": "api.xmatters.com",
	"basePath": "/api/2015-05-01/events",
	"schemes": ["https"],
	"paths": {
		"/events/{eventId}": {
			"get": {
				"tags": ["Events"],
				"summary": "Get Event",
				"description": "An event",
				"operationId": "getEvent",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "eventId",
						"in": "path",
						"description": "Event identifier",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Event"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					}
				}
			}
		},
		"/events/{eventId}/notifications": {
			"get": {
				"tags": ["Events"],
				"summary": "Get event notifications",
				"description": "Get event notifications",
				"operationId": "getEventNotifications",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "eventId",
						"in": "path",
						"description": "Event identifier",
						"required": true,
						"type": "string"
					},
					{
						"name": "after",
						"in": "query",
						"description": "Get notifications after this notification identifier in the collection (for pagination)",
						"required": false,
						"type": "string"
					},
					{
						"name": "before",
						"in": "query",
						"description": "Get notifications before this notification identifier in the collection (for pagination)",
						"required": false,
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size to retreive from the collection (for pagination)",
						"required": false,
						"type": "integer",
						"default": 100
					},
					{
						"name": "status",
						"in": "query",
						"description": "Status of notifications",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Notifications"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"403": {
						"description": "Forbidden",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"429": {
						"description": "Too Many Requests",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					},
					"500": {
						"description": "Internal Error",
						"schema": {
							"$ref": "#/definitions/APIResponse"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Events": {
			"type": "object",
			"description": "A paginated result set of events",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Event"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/EventsLinks"
				}
			},
			"required": ["data", "count", "total"]
		},
		"EventsLinks": {
			"type": "object",
			"description": "Paginated event collection links",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this page of the result set",
					"format": "uri"
				},
				"previous": {
					"type": "string",
					"description": "URL of the previous page of the result set",
					"format": "uri"
				},
				"next": {
					"type": "string",
					"description": "URL of the next page of the result set",
					"format": "uri"
				}
			},
			"required": ["self"]
		},
		"Event": {
			"type": "object",
			"description": "A geographic area",
			"properties": {
				"id": {
					"type": "string",
					"description": "Unique identifier for the event"
				},
				"startTime": {
					"type": "string",
					"description": "The start time of the event",
					"format": "date-time"
				},
				"endTime": {
					"type": "string",
					"description": "The end time of the event",
					"format": "date-time"
				},
				"status": {
					"type": "string",
					"description": "The status of the event",
					"enum": ["ACTIVE", "SUSPENDED", "TERMINATED"]
				},
				"pending": {
					"$ref": "#/definitions/Notifications"
				},
				"delivered": {
					"$ref": "#/definitions/Notifications"
				},
				"failed": {
					"$ref": "#/definitions/Notifications"
				},
				"responded": {
					"$ref": "#/definitions/Notifications"
				},
				"responseStats": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ResponseStat"
					}
				}
			},
			"required": ["id", "startTime", "status", "pending", "delivered", "responded", "responseStats"]
		},
		"ResponseStat": {
			"type": "object",
			"description": "Event response statistics",
			"properties": {
				"selection": {
					"type": "string",
					"description": "Response selection"
				},
				"count": {
					"type": "integer",
					"description": "Count of this response type"
				},
				"contribution": {
					"type": "string",
					"description": "Indicates how to treat this count in the UI",
					"enum": ["NEUTRAL","POSITIVE","NEGATIVE"]
				}
			},
			"required": ["selection", "count", "contribution"]
		},
		"Notifications": {
			"type": "object",
			"description": "A paginated result set of notifications",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Notification"
					}
				},
				"count": {
					"type": "integer",
					"description": "Number of data items in this page of the result set"
				},
				"total": {
					"type": "integer",
					"description": "Total number of data items in the result set"
				},
				"links": {
					"$ref": "#/definitions/NotificationsLinks"
				}
			},
			"required": ["data", "count", "total", "links"]
		},
		"Notification": {
			"type": "object",
			"description": "An event notification",
			"properties": {
				"target": {
					"type": "object",
					"anyOf": [
						{ "$ref": "#/definitions/Person" },
						{ "$ref": "#/definitions/Device" }
					]
				},
				"sent": {
					"type": "string",
					"description": "The time the notifcation was sent",
					"format": "date-time"
				},
				"response": {
					"$ref": "#/definitions/NotificationResponse"
				}
			},
			"required": ["target", "sent", "response"]
		},
		"NotificationResponse": {
			"type": "object",
			"description": "A notification response",
			"properties": {
				"received": {
					"type": "string",
					"description": "The time the response was received",
					"format": "date-time"
				},
				"selection": {
					"type": "string",
					"description": "Response selection for this notification"
				}
			},
			"required": ["received", "selection"]
		},
		"Person": {
			"properties": {
				"name": {
					"type": "string"
				}
			},
			"required": ["name"]
		},
		"Device": {
			"properties": {
				"name": {
					"type": "string"
				}
			},
			"required": ["name"]
		},
		"NotificationsLinks": {
			"type": "object",
			"description": "Paginated notifications collection links",
			"properties": {
				"self": {
					"type": "string",
					"description": "URL of this page of the result set",
					"format": "uri"
				},
				"event": {
					"type": "string",
					"description": "URL of the event to which this notification belongs",
					"format": "uri"
				},
				"previous": {
					"type": "string",
					"description": "URL of the previous page of the result set",
					"format": "uri"
				},
				"next": {
					"type": "string",
					"description": "URL of the next page of the result set",
					"format": "uri"
				}
			},
			"required": ["self", "event"]
		},
		"APIResponse": {
			"description": "A coded API response",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32",
					"enum": [400,401,403,404,429,500]
				},
				"type": {
					"type": "string",
					"description": "Custom error code"
				},
				"message": {
					"type": "string",
					"description": "Error message"
				}
			},
			"required": ["code", "type", "message"]
		}
	}
}